JWT_SECRET = 'some hard to guess string'
NODE_ENV = 'NODE_ENV'
FRONTEND_URL = 'FRONTEND_URL'
HOST_URL = 'HOST_URL'

MONGO_DB_CONNECT_STRING = 'CONNECT_STRING'

SENDGRID_API_KEY = 'SENDGRID_API_KEY'

DEFAULT_EMAIL_ADDRESS = "DEFAULT_EMAIL_ADDRESS@gmail.com"
DEFAULT_EMAIL_NAME = "DEFAULT_EMAIL_NAME"


SENTRY_DSN = 'SENTRY_DSN'

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME = "CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY = "CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET = "CLOUDINARY_API_SECRET"













