JWT_SECRET = 'some hard to guess string'
NODE_ENV = 'NODE_ENV'
FRONTEND_URL = 'FRONTEND_URL'
HOST_URL = 'HOST_URL'

MONGO_DB_CONNECT_STRING = 'CONNECT_STRING'

SENDGRID_API_KEY = 'SENDGRID_API_KEY'

SENDGRID_INVITE_USER_TEMPLATE_ID = 'SENDGRID_INVITE_USER_TEMPLATE_ID'

SENTRY_DSN = 'SENTRY_DSN'

AWS_ACCESS_KEY = "AWS_ACCESS_KEY"
AWS_SECRET_ACCESS_KEY = "AWS_SECRET_ACCESS_KEY"
AWS_BUCKET = "AWS_BUCKET"
AWS_BUCKET_REGION = "AWS_BUCKET_REGION"

STRIPE_SECRET_KEY = "STRIPE_SECRET_KEY"
STRIPE_ACCOUNT_WEBHOOK_SECRET = "STRIPE_ACCOUNT_WEBHOOK_SECRET"
STRIPE_CONNECT_WEBHOOK_SECRET = "STRIPE_CONNECT_WEBHOOK_SECRET"












